@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


#waviy {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    color: gray;
}

#waviy span {
    position: relative;
    margin-top: 4%;
    font-size: 20px;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i));
}

#R, #A, #P {
    color: black;
}

@keyframes flip {
0%,80% {
    transform: rotateY(360deg) 
    }
}
